<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/customers/edit/<%=data[0].id%>">
                <table cellpadding="11">
                <tr>
                    <td class="label">Nama</td><td>: <input type="text" name="nama" value="<%=data[0].nama%>" required></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">Alamat</td>
                    <td valign="top">: 
                        <textarea name="alamat" required cols="30" rows="5"><%=data[0].alamat%></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">HP</td><td>: <input type="text" value="<%=data[0].hp%>" name="hp" required></td>
                 </tr>
                  <tr>
                    <td class="label">No Resi</td><td>: <input type="text" name="no_resi" value="<%=data[0].no_resi%>" required></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
