<!DOCTYPE html>
<html lang="en">
  <head>
  
  	<% include partials/head.ejs %>

  </head>
  <body>

  	<% include partials/header.ejs %>

  	<div id="hero-image-single" style="background-image: url('/images/<%= data[0].hero_image %>')">
  		<h1 id="hero-title"><%=data[0].title%></h1>
  	</div>

    <div class="content-padding clearfix">
      <div class="poster-wrapper">
        <img src="/images/<%= data[0].poster %>" class="img-responsive">
      </div>

      <div class="description-wrapper">

        <div class="description">
          <h2 class="movie-header">Description</h2>
          <p><%= data[0].description %></p>
        </div>

        <div class="main-characters">
          <h2 class="movie-header">Main Characters</h2>
          <ul>
         
              <li><%= data[0].main_characters %></li>
            
          </ul>
        </div>
        
      </div>

    </div>
    
  	
    <% include partials/footer.ejs %>
   	<% include partials/scripts.ejs %>
  </body>
</html>