<!DOCTYPE html>
<html lang="en">
  <head>
  
  	<% include partials/head.ejs %>

  </head>
  <body>

  	<% include partials/header.ejs %>

  	<div id="hero-image-single" style="background-image: url('/images/<%= data[0].hero_image %>')">
  		<h1 id="hero-title"><%=data[0].title%></h1>
  	</div>

    <div class="content-padding clearfix">
      <div class="poster-wrapper">
        <img src="/images/<%= data[0].poster %>" class="img-responsive">
      </div>

      <div class="description-wrapper">

        <div class="description">
          <h2 class="movie-header">Description</h2>
          <p><%= data[0].description %></p>
        </div>

        <div class="main-characters">
          <h2 class="movie-header">Main Characters</h2>
          <ul>
         
              <li><%= data[0].main_characters %></li>
            
          </ul>
        </div>

        <div id="disqus_thread"></div>
          <script>

          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
          /*
          var disqus_config = function () {
              this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          */
          (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = '//inspirasibaduy.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        
        
      </div>


      
                                    

    </div>
    
  	
    <% include partials/footer.ejs %>
   	<% include partials/scripts.ejs %>
  </body>
</html>